:root {
  --bgColor: hsl(233, 47%, 7%);
  --cardBgColor: hsl(244, 38%, 16%);
  --accentColor: hsl(277, 64%, 61%);
  --overlayColor: hsla(277, 100%, 40%, 0.4);
  --accentLighterColor: hsl(277, 79%, 69%);
  --textColor: hsl(0, 0%, 100%);
  --paragraphColor: hsla(0, 0%, 100%, 0.75);
  --statsHeadingsColor: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: "Lexend Deca", sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: var(--cardBgColor);
  border-radius: 8px;
  overflow: hidden;
  margin: 64px 32px 16px;
  max-width: 45ch;
}

h1 {
  font-family: "Inter", sans-serif;
}

h1 span {
  color: var(--accentColor);
}

picture {
  display: grid;
  grid-template: 1fr / 1fr;
}

picture * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

picture .overlay {
  background-color: var(--overlayColor);
}

img {
  width: 100%;
}

p {
  color: var(--paragraphColor);
  margin: 20px 0;
}

dt {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 4px;
}

dd {
  color: var(--statsHeadingsColor);
  text-transform: uppercase;
  font-size: 0.75em;
}

a {
  color: var(--accentColor);
}

a:hover {
  color: var(--accentLighterColor);
}

footer {
  margin: 16px 32px 64px;
  text-align: center;
}

.content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stat {
  margin: 20px;
}

@media screen and (min-width: 400px) {
  dl {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 100ch;
    display: flex;
    flex-direction: row-reverse;
  }

  .content {
    max-width: 45ch;
    text-align: left;
    padding: 48px 64px;
  }

  .stat:first-child {
    margin-left: 0;
  }
}
